.container {
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    gap: 4rem;
    width: 100%;
    padding: 2rem 3rem 2rem 3rem;
    justify-content: flex-end;
    transition: 0.5s;
    
    z-index: 10;
    .content, .active{
        display: flex;
        gap: 4rem;
        a {
            cursor: pointer;
            color: white !important;
            font-family: "Ubuntu", sans-serif;
            font-weight: bold;
            font-size: 1.3rem;

            &::after{
                content: '';
                display: block;
                border-bottom: solid 3px var(--font-color);  
                transform: scaleX(0);  
                transition: transform 250ms ease-in-out;
            }  
            &:hover::after{
                transform: scaleX(1);
            }  
        }
    }

    .hamburguer{
        display: none;
    }
    
}

@media (max-width: 1400px){
    .container {
       a {
        font-size: 1rem;
       } 
    }
}

@media (max-width: 900px){
    .container{
        flex-direction: column-reverse;
        .hamburguer{
            display: flex;
            align-self: flex-end;
            border: none;
            background-color: transparent;
        }
        .content {
            display: none;
            flex-direction:column;
        }
        .active{

            display: flex;
            flex-direction:column;
            gap: 2rem;
            align-items: center;
        }      
    }
    
    
    
}